{% extends "base.html" %}

{% block title %}HOME{% endblock %}

{% block content %}
<div class="card shadow p-4">
    <h2 class="mb-4">Bienvenido, {{ user.username }}</h2>

    <div class="list-group">
        <a href="{% url 'justificar_inasistencia' %}" class="list-group-item list-group-item-action">
            Justificar Inasistencia
        </a>

        <a href="{% url 'historial_justificaciones' %}" class="list-group-item list-group-item-action">
            Ver Historial
        </a>

        <a href="{% url 'logout' %}" class="list-group-item list-group-item-action text-danger">
            Cerrar Sesión
        </a>
    </div>
</div>
{% endblock %}
