{% extends "base.html" %}

{% block title %}LOGIN{% endblock %}

{% block content %}
<div class="card shadow p-4">
  <h1 class="mb-3">Iniciar Sesión</h1>

  {% if error %}
    <p style="color:red;">{{ error }}</p>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <label>Usuario:</label>
    <input type="text" name="username" required><br><br>

    <label>Contraseña:</label>
    <input type="password" name="password" required><br><br>

    <button type="submit">Ingresar</button>
  </form>

</div>
{% endblock %}
